<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ada.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>All ADA Chapters</h2>
    <div class="ad">
        <div class="ada1">
        <h3>Ada unit 1 printed notes</h3>
        <a href="ash.pdf" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada unit 2 printed notes</h3>
        <a href="#">DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada Numbers notes</h3>
        <a href="#" id="number">DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada Book</h3>
        <a href="#" id="book">DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada Book</h3>
        <a href="#" id="book">DOWNLOAD</a>
        </div>
    </div>
</body>
</html>